<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InHouseSubseasonId" value="623838"/>
    <add key="TravelSubseasonId" value="623837"/>
    <add key="SportId" value="4"/>
    <add key="InHouse" value="66197"/>
    <add key="InHouseInstance" value="99805"/>
    <add key="GBATravel8B" value="3578554"/>
    <add key="GBATravel9B" value="3578555"/>
    <add key="GBATravel9W" value="3579471"/>
    <add key="GBATravel10B" value="3579472"/>
    <add key="GBATravel10W" value="3579475"/>
    <add key="GBATravel11B" value="3579476"/>
    <add key="GBATravel11W" value="3579477"/>
    <add key="GBATravel12B" value="3579478"/>
    <add key="GBATravel12W" value="3579479"/>
    <add key="GBATravel12Black" value="3579480"/>
    <add key="GBATravel13B" value="3579481"/>
    <add key="GBATravel13W" value="3579482"/>
    <add key="GBATravel14B" value="3579484"/>
    <add key="GBATravel14W" value="3584951"/>
    <add key="GBATravel8BNode" value="5154169"/>
    <add key="GBATravel9BNode" value="5154171"/>
    <add key="GBATravel9WNode" value="5155454"/>
    <add key="GBATravel10BNode" value="5155455"/>
    <add key="GBATravel10WNode" value="5155456"/>
    <add key="GBATravel11BNode" value="5155457"/>
    <add key="GBATravel11WNode" value="5155458"/>
    <add key="GBATravel12BNode" value="5155459"/>
    <add key="GBATravel12WNode" value="5155460"/>
    <add key="GBATravel12BlackNode" value="5155461"/>
    <add key="GBATravel13BNode" value="5155462"/>
    <add key="GBATravel13WNode" value="5155463"/>
    <add key="GBATravel14BNode" value="5155466"/>
    <add key="GBATravel14WNode" value="5164079"/>
    <add key="IHTT10U" value="3579512"/>
    <add key="IHTT10UNode" value="5155503"/>
    <add key="IHTT9U" value=""/>
    <add key="IHTT9UNode" value=""/>
    <add key="IHTT11U" value=""/>
    <add key="IHTT11UNode" value=""/>
    <add key="IHTT9U" value=""/>
    <add key="IHTT8UKP" value=""/>
    <add key="IHTT8UKPNode" value=""/>
    <add key="Refresh" value="f3bdd675a2b653a9ed86f75f0ed85b1e"/>
    
    
  </appSettings>
</configuration>